<% provide(:title, @announcement.title) %>
<div class="container" id:"show_announcement" >
  <div class="row announcment_comments">
    <div class= "col-md-10 col-md-offset-1">
      
        
          <h1><%= @announcement.title %></h1>
          
          <h2><%= @announcement.sub_title %></h2>
           <% if @announcement.pdf? %>
             <iframe src=<%= @announcement.pdf.url %> width="600" height="780" style="border: none;"> </iframe>
          <% end %> 
          <% if @announcement.sticky == true %> 
            <h4> Feature Post</h4>
          <% end %>
          <% if @announcement.youtube? %> 
            <div class="youtube">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@announcement.youtube%>" frameborder="0" allowfullscreen></iframe>
            </div>
          <% end %>
          <p>
            <%= link_to 'An an Other Announcement', new_announcement_path, class: "btn btn-primary" %>
          </p>
          <p><%= simple_format(@announcement.content) %></p>
        
        
          <% if current_user %>
            <%= link_to 'Edit', edit_announcement_path(@announcement) %> | 
            <%= link_to 'Delete', @announcement, method: :delete, data: { confirm: "Are you sure?" } %> 
          <% end %>
            
       
      
    </div>
  </div>
</div>

