<%= form_for(@race_schedule, html: { multipart: true }) do |f| %>
  <% if @race_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(race_schedule.errors.count, "error") %> prohibited this race_schedule from being saved:</h2>

      <ul>
      <% race_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.hidden_field :user_id %>
    </div>
     <div class="form-group">
      <%= f.date_select :race_start_date, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.date_select :race_end_date, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :location, autofocus: true, class: "form-control", placeholder: "Where" %>
    </div>
    <div class="form-group">
      <%= f.text_field :details, autofocus: true, class: "form-control", placeholder: "example.. IHRA Nitro Jam Race #1 of 2 race series" %>
    </div>
    <div class="form-group">
      <%= f.text_field :race_type, autofocus: true, class: "form-control", placeholder: "example.. 6.75 Index Non Club Event" %>
    </div>
    <div class="btn-group">
      <%= f.submit "Submit race_schedule", class: "btn btn-primary" %>
    </div>
<% end %>
