<div class= "container">
  <div class="row">
    <div class= "col-md-offset-2 col-md-8">
      <% if current_user %>
        <%= link_to "New Event", new_race_schedule_path, class: 'btn btn-primary' %>
      
        <em class= "text-info"> <i class = "fa fa-car"> </i> Click on the red link in event below to edit or delete</em>
      <% end %>
      <table class= "table table-responsive">
      <thead>
        <tr>
          <th class= "col-md-3 text-primary">When</th>
          <th class= "col-md-2 text-primary">Where</th>
          <th class= "col-md-4 text-primary">What</th>
          <th class= "col-md-3 text-primary">How</th>
        </tr>
      </thead>
    </table>
    
      <% @race_schedules.each do |race_schedule| %>
      <table class= "table table-responsive">
        <thead>
          <tr>
            <th class= "col-md-3"></th>
            <th class= "col-md-2"></th>
            <th class= "col-md-4"></th>
            <th class= "col-md-3"></th>
          </tr>
        </thead>
        <tbody>
         
        <tr style= "color: <%= race_schedule.color;  %>"  >
          <td><%= race_schedule.race_start_date.strftime("%F") %> - 
          <%= race_schedule.race_end_date.strftime("%F") %>
          </td>
          <td><%= link_to race_schedule.location, race_schedule %>
          </td>
          <td><%= race_schedule.details %>
          </td>
          <td><%= race_schedule.race_type %>
          </td>
        </tr>
       </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>       

