<div class= "containter text-left">
  <div class= "row">
    <div class= "col-md-offset-1 col-md-10">
    <p>
        <%= @race_schedule.race_start_date.strftime("%F")%>
        <%= @race_schedule.race_end_date.strftime("%F")%>
        <%= @race_schedule.location %>
        <%= @race_schedule.details %>
        <%= @race_schedule.race_type %>. 
    </p>
    </div>
  </div>
</div>