<div class= "containter text-left">
  <div class= "row">
    <div class= "col-md-offset-1 col-md-10">
    <p style = "color:<%= @race_schedule.color; %>">
      
        <%= @race_schedule.race_start_date.strftime("%F")%>
        <%= @race_schedule.race_end_date.strftime("%F")%>
        <%= @race_schedule.location %>
        <%= @race_schedule.details %>
        <%= @race_schedule.race_type %>. 
    </p>
    <h3>Add a Team to the Event</h3>
    <%= render @race_schedule.event_teams %> 
    <%= render "event_teams/form"%> 
    </div>
  </div>
  <div class = "text-center">
   <%= link_to "New Event", new_race_schedule_path, class: "btn btn-primary" %>
   <%= link_to "Edit Event", edit_race_schedule_path(@race_schedule), class: "btn btn-info" %>
   <%= link_to "Delete Event", @race_schedule, method: :delete, 
     data: {confirm: "Are you sure?" }, class: 'btn btn-warning' %>
  </div>
</div>