<div class="container" id:"show_article" >
  <div class="row">
    <div class= "col-md-10 col-md-offset-1">
      <div class= "panel panel-default">
        <div class="panel-heading">
          <h3><%= @article.title %></h3>
          <p>
            <%= link_to 'An an Other Picture', new_article_path, class: "btn btn-primary" %>
          </p>
        </div>
        <div class="panel-body">
         
            <p><%= image_tag @article.picture.url(:slider) %></p>
            <p><strong>Title: </strong>  <%= @article.title %></h3>
          
          <p><strong>Info: </strong><%= @article.content %></p>
        </div>
        <div class="panel-footer">
          <% if  @article.user_id == current_user.id %>
            <%= link_to 'Edit', edit_article_path(@article) %> | 
            <%= link_to 'Delete', @article, method: :delete, data: { confirm: "Are you sure?" } %> | 
          <% end %>
            
        </div>
      </div>
    </div>
  </div>
</div>