
    <% @announcements.each do |announcement| %> 
      <div class = "row text-left announcement_comments">
        <div class= "col-md-10">
       
          <% if announcement.sticky? %>
            <h1> <%= announcement.title %></h1>
            <h2 class= "text-primary"><%= announcement.sub_title %>
            <% if current_user %>
              <%= link_to "Edit", announcement_path(announcement) %> |
              <%= link_to "Delete", announcement, method: :delete,
                data: {confirm: "Are you sure?"} %>
            <% end %>
            </h2>
            <div class="youtube">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=announcement.youtube%>" frameborder="0" allowfullscreen></iframe>
            </div>
            <p> 
             <%= simple_format(announcement.content) %>
            </p>
            <hr class = "primary">
          <% end %>
        </div>
      </div>
    <% end %> 
    
    <% @announcements.each do |announcement| %> 
      <div class = "row text-left announcement_comments">
        <div class= "col-md-10">
          <% if announcement.sticky == false %>
            <h1> <%= announcement.title %></h1>
            <h2 class= "text-primary"><%= announcement.sub_title %>
            <% if current_user %>
              <%= link_to "Edit", announcement_path(announcement) %> |
              <%= link_to "Delete", announcement, method: :delete,
                data: {confirm: "Are you sure?"} %>
            <% end %>
            </h2>
             <div class="youtube">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=announcement.youtube%>" frameborder="0" allowfullscreen></iframe>
            </div>
            <p> 
              <%= simple_format(announcement.content) %>
            </p>
            <hr class = "primary">
          <% end %>
        </div>
      </div>
    <% end %>
 