<div>
<% @announcements.each do |announcement| %> 
  <div class = "row text-left announcement_comments">
    <div class= "col-md-10 col-offset-right-2">
      <% if announcement.sticky? %>
        <h1> <%= announcement.title %></h1>
        <h2 class= "text-primary"><%= announcement.sub_title %></h2>
        
        <p style = "white-space: pre-wrap"> 
          <%= announcement.content %>
        </p>
        <hr class = "primary">
      <% end %>
    </div>
  </div>
<% end %> 

<% @announcements.each do |announcement| %> 
  <div class = "row text-left announcement_comments">
    <div class= "col-md-10 col-offset-right-2">
      <% if announcement.sticky == false %>
        <h1> <%= announcement.title %></h1>
        <h2 class= "text-primary"><%= announcement.sub_title %></h2>
        
        <p style = "white-space: pre-wrap"> 
          <%= announcement.content %>
        </p>
        <hr class = "primary">
      <% end %>
    </div>
  </div>
<% end %>

