<div class = "container news_feed">
  <div class= "row">
    <div class= "col-md-offset-1 col-md-10">
      <% @news_feeds.each do |news_feed| %>
      <div class = "row">
        <div class = "col-md-8 img-responsive center news_feed_image" %>
          <%= image_tag(news_feed.picture.url) %>
          <br>
            <% if news_feed.race_schedule_id %>
           <span>
              Event: <%= news_feed.race_schedule.details %>
            
            <% end %>
            <% if news_feed.team_id %> 
              Team: <%= news_feed.team.team_name %>
            <% end %>
          </span>
          
        </div>
        <div class = "col-md-4 text-left">
          <p class = "news_comments" style = "white-space: pre-wrap">
          <span class= "text-primary"><br><%= news_feed.created_at.strftime("%F") %> </span>
          <br><%= news_feed.content %> <br>
          </p>  
           <% if current_user %>
          <p>
            <%= link_to 'Edit This Post', edit_news_feed_path(news_feed) %> 
            <%= link_to 'Delete This Post', news_feed, method: :delete, data: { confirm: "Are you sure?" } %>  
          </p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
