<div class = "container news_feed">
  <div class= "row">
    <div class= "col-md-offset-1 col-md-10">
     
      <% @main_news_feeds.each do |main_news_feed| %>
        <div class = "row">
          <div class = "col-md-8 img-responsive center news_feed_image" %>
            <%= image_tag(main_news_feed.picture.url, class: "img-responsive") %>
            <br>
              <% if main_news_feed.race_schedule_id %>
             <span>
                Event: <%= main_news_feed.race_schedule.details %>
              
              <% end %>
              <% if main_news_feed.team_id %> 
                Team: <%= main_news_feed.team.team_name %>
              <% end %>
            </span>
            
          </div>
          <div class = "col-md-4 text-left">
            <p class = "news_comments" style = "white-space: pre-wrap">
            <span class= "text-primary"><br><%= main_news_feed.created_at.strftime("%F") %> </span>
            <br><%= main_news_feed.content %> <br>
            </p>  
             <% if current_user %>
            <p>
              <%= link_to 'Edit This Post', edit_news_feed_path(main_news_feed) %> 
              <%= link_to 'Delete This Post', main_news_feed, method: :delete, data: { confirm: "Are you sure?" } %>  
            </p>
            <% end %>
          </div>
        </div>
      <% end %>
      <div>
        
      </div>
    </div>
  </div>
</div>
