<% provide(:title, "Rules") %>
<div class="container text-left" id="newpath">
  <div class = "row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class= "text-center"> Rocky Mountain Series Basics </h2>
      <h3 class= "text-center"> Association Rules</h3>
      
      <div class= "container">
      <em>The Rocky Mountain Funny Car teams have a long history of competing at almost every track in Western Canada. <br>
      The series has found success in BC Alberta and Saskachewan as a group.<br> As individuals, the teams race all over the North West United States and Western Canada.</em>
      </div>
      <hr>
      <% @rules.each do |rule| %>
        <p class= "text-primary">
          
           <%= rule.number %> <%= rule.title.titleize  %>
          
        </p>
        <p> <%= rule.description %>
        
        <br>
        <span class= "logo img-responsive center-block">
        <%= image_tag rule.picture.url(:slider) if rule.picture? %>
        </span>
          <% if current_user %>
            <div>
          <%= link_to "Show Rule", rule %> | 
          <%= link_to "Edit this rule", edit_rule_path(rule) %> |
          <%= link_to "Delete thi rule", rule, method: :delete, 
            data: {confirm: "Are you sure?" } %>
            
          </div>
          <% end %>
        
        </p>
	    <% end %>	   
    </div>
  </div>
</div>