<% provide(:title, @rule.title) %>
<div class= "containter text-left">
  <div class= "row">
    <div class= "col-md-offset-1 col-md-10">
    <p>
        <%= @rule.number if @rule.number %><% if @rule.number %>. <% end %> <%= @rule.title.titleize  %>
        <%= @rule.description %>
        <% if @rule.picture? %>
        <br>
        <%= image_tag @rule.picture.url(:slider) %>
        <% end %>
    </p>
     <p>
       <% if current_user %>
      <%= link_to "Add a New Rule" %> |
      <%= link_to "Edit this rule", edit_rule_path(@rule) %> |
      <%= link_to "Delete this rule", @rule, method: :delete, 
        data: {confirm: "Are you sure?" } %>
        <% end %>
      </p>
    </div>
  </div>
</div>