<footer>
<div class="container">
      <div class = "row">
        <div class = "col-md-4">
            
            
            <%= link_to "Pictures 2016", photos2016_path %><br>
            <%= link_to "Pictures 2015", photos2014_path %><br>
            <%= link_to "Pictures 2013", photos2013_path %><br>
            <%= link_to "Pictures 2012", photos2012_path %><br>
            <%= link_to "Pictures 2011", photos2011_path %><br>
            <%= link_to "Pictures 2010", photos2010_path %>
          </div>
          <div clas = "col-md-4">
          </div>
         <div class = "col-md-4">
          Phone: Cal Teb at 780 499-6179 <br>
          <a href="mailto:caltebb@hotmail.com">Email Call Tebb</a>
          <a href="mailto:joey@joeysplace.com">Email Joey</a> 
    <br>
            Find us on 
            <%= link_to "https://www.faceboo.com/RockyMountainNotalgiaFunnyCars" do %>
             <i class="fa fa-facebook-square fa-2x" > </i>
            <% end %>
          </div>
          
          
      </div>
    </div>
   
</footer>
