<footer class="footer">
  <div class="upper">
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="script">
          Rocky Mountain Floppers <br>Nostalgia Funny Cars
        </h4>
        <p>
        <em>A <a href= "http://friendlyroad.com/">Friendly Road</a> collaboration</em><br>
        between Laurie and <%= link_to "Shane", team_path(3) %>
        </p>
      </div>
      <div class="col-md-4">
          <h5>Browse Pictures</h5>
          <ul class="list-unstyled footer-links">
          <li><%= link_to "2014", photos2014_path %> | <%= link_to "2015", photos2015_path %> | <%= link_to "2016", photos2016_path %></li>
          <li><%= link_to "2010", photos2010_path %> | <%= link_to "2011", photos2011_path %> | <%= link_to "2012", photos2012_path %> | <%= link_to "2013", photos2013_path %></li>
          </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <ul class="list-unstyled footer-links">
          <li>
              Phone: Cal Teb at 780 499-6179
          </li>
          <li> 
              <a href="mailto:caltebb@hotmail.com">Email Call Tebb</a><br>
              <a href="mailto:joey@joeysplace.com">Email Joey</a>
          </li>
          <li class= "text-primary">
            Find us on 
            <%= link_to "https://www.facebook.com/RockyMountainNostalgiaFunnyCars?fref=ts" do %>
             <i class="fa fa-facebook-square fa-2x" > </i>
            <% end %>
            </h6>
          
        </ul>
      </div>
      
    </div>
  </div>
  </div>
  <div class="lower">
    <div class="container">
      <div class="row text-muted">
        <div class="col-md-12">
            <span class="small">Copyright &copy; <span id="year"><%= Date.today.year %></span> - Rocky Mountain Floppers  All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>