<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
  <meta name="description" content="Rocky Mountain Nostalgia Funny Cars">
  <meta name="author" content="laurie gloge">
  <link href="https://fonts.googleapis.com/css?family=Cantarell:400i|Faster+One" rel="stylesheet">
  <meta name="turbolinks-root" content="/app">
</head>