<nav class= "navbar simple_navbar">
  <div class= "container">
    
    <div class= "navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target= ".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse  navbar-main-collapse">
    <ul class="nav navbar-nav">
      
      <li class="page-scroll">
        <%= link_to "Home", root_path%>      
      </li>
      
      <li>
        <%= link_to "Events", race_schedules_path %>      
      </li>
      <li>
        <%= link_to "Teams", teams_path %>      
      </li>
      <li>
        <%= link_to "Rules", rules_path %>      
      </li>
      <li> 
        <%= link_to "Standings", standings_path %>
      </li>
      <li>
        <%= link_to "Gallery", news_feeds_path %>
      </li>
      <li class= "sign_in">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to('Sign In', new_user_session_path)  %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>