
<div class="row intro">
  <div class="col-md-offset-1 col-md-6">
    <% if current_user %>
      <h2>Add A Slider Image</h2>
      <%= link_to "New Picture", new_article_path, class: "btn btn-primary" %>
      <h2>Add A Team Page</h2>
      <%= link_to "New Team", new_team_path, class: "btn btn-primary" %>
    <% else %>
    <div>
  
      </div>
      <div id="myCarousel" class="carousel slide show_cars" data-ride="carousel">
     
      <!-- Indicators -->
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active center-block">
          
          <em>Nitro belching array on display at the 61st Annual World Series of Drag Racing at Cordova Dragway Park 8-23-14</em>
          <iframe width="700" height="350" src="https://www.youtube.com/embed/rl65fS89JSE" frameborder="0" allowfullscreen></iframe>
          <br>
          <h4 class="text-muted">Nitro Madness</h4>
           
        </div>
        <% @articles.each do |article| %>
          <div class="item center-block">
            <em><%= article.content %> </em>
            
            <%= image_tag article.picture.url(:slider) %>
            <br>
            <h4 class="text-muted"><%= article.title.titleize %></h4>
          </div>
        <% end %>
      </div>

  <!-- Left and right controls -->
  
</div>
    <% end %>
  </div>
  <div class="col-md-5 sponsors">
    <% if current_user %>
      <h2>Edit the Sponsor Logos</h2>
    <% else %>
      <div>
    <%= link_to href: 'http://www.trailtire.com/' do %>
      <span class= "logo img-responsive center-block">
        <%= image_tag  "trailtirethumb.png" %>
      </span>
    <% end %>
    </div>
      <div>
        <%= link_to href: 'https://surewerx.com/' do %>
          <span class= "logo img-responsive center-block">
            <%= image_tag  "surewerx.png" %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
