
<div class="row intro">
  <div class="col-md-offset-1 col-md-6">
    <% if current_user %>
      <h2>Edit the Slider Images</h2>
      <%= link_to "New Picture", new_article_path, class: "btn btn-primary" %>
    <% else %>
      <div id="myCarousel" class="carousel slide show_cars" data-ride="carousel">
     
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @articles.each_with_index do |article, i| %>
          <li data-target="#myCarousel" data-slide-to="i" class="active"></li>
        <% end %>
    
        
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active center-block">
          <%= image_tag "shane.jpg" %>
        </div>
        <% @articles.each do |article| %>
          <div class="item center-block">
            <%= image_tag article.picture.url(:slider) %>
          </div>
        <% end %>
        
      </div>

  <!-- Left and right controls -->
  
</div>
    <% end %>
  </div>
  <div class="col-md-5 sponsors">
    <% if current_user %>
      <h2>Edit the Sponsor Logos</h2>
    <% else %>
      <div>
    <%= link_to href: 'http://www.trailtire.com/' do %>
      <span class= "logo img-responsive center-block">
        <%= image_tag  "trailtirethumb.png" %>
      </span>
    <% end %>
    </div>
      <div>
        <%= link_to href: 'https://surewerx.com/' do %>
          <span class= "logo img-responsive center-block">
            <%= image_tag  "surewerx.png" %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
