
<div class="row intro">
  <div class="col-md-offset-1 col-md-6">
    <div id="myCarousel" class="carousel slide show_cars" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active center-block">
          <em>Nitro belching array on display at the 61st Annual World Series of Drag Racing at Cordova Dragway Park 8-23-14</em>
          <iframe width="700" height="350" src="https://www.youtube.com/embed/rl65fS89JSE" frameborder="0" allowfullscreen></iframe>
          <br>
          <h4 class="text-muted">Nitro Madness</h4>
        </div>
        <% @articles.each do |article| %>
          <div class="item center-block">
            <em><%= article.content %> </em>
            <%= image_tag article.picture.url(:slider) %>
            <br>
            <h4 class="text-muted"><%= article.title.titleize %></h4>
          </div>
          
        <% end %>
      </div>
    </div>
    <% if current_user %>
      <%= link_to "New Picture", new_article_path, class: "btn btn-primary" %>
      <%= link_to "New Team", new_team_path, class: "btn btn-primary" %>
      <%= link_to "New Event", new_race_schedule_path, class: "btn btn-primary" %>
    <% end %>
    <div class= "text-left">
      <h3>Laurie's Message to Shane</h3>
      <p>You neeed to add Teams and Events</p>
      <p>I have made the logos editable, and you can also add sponsors</p>
      <p>I have added the rules page, team pages, slider and sponsors</p>
      <p>The menus are all working now</p>
      <p>Keep in mind, you can add content any time. <br> For now, we just want to make the site friendly</p>
      <em class= "text-primary"> Have Fun!</em>
    </div>
  </div>
  
  
  <div class="col-md-5 sponsors">
    <% @sponsors.each do |sponsor| %>
    <div>
      <%= link_to href: sponsor.web_site do %>
        <span class= "logo img-responsive center-block">
          <% end %>
          <%= image_tag sponsor.picture.url %>
          <% if current_user %>
          <%= link_to "View or Edit", sponsor %>
        </span>
      <% end %>
    <% end %> 
    </div>
    <div class= "text-center">
    <%= link_to "Add aNew Sponsor", new_sponsor_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
