<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body id="page-top" data-target=".navbar-fixed-top">
    
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/logo' %>
        
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
        
        <%= render 'layouts/footer' %>
        
    
    <%= render 'layouts/google_analytics' %>
  </body>
</html>
